/* 
 * Grid utilities
 */

.container {
    max-width: var(--container-max);
    margin: 0 auto;
    padding: 0 var(--spacing-xl);
    width: 100%;
}

@media (max-width: 600px) {
    .container {
        padding: 0 var(--spacing-md);
    }
}